<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit loan</title>
</head>
<body>
    <div>
        <h2>
            Edit loan
        </h2>
        <form method="POST" id='form'>{% csrf_token %}
            {{ form.as_p }}
            <div>
                Submission date {{loandate}}
            </div>
            <div>
                <button type="submit">Edit</button>
            </div>
            {% if messages %}
                {% for message in messages %}
                        <li>{{message}}</li>
                {% endfor %}  
            {% endif %}
        </form>
    </div>
</body>
</html>