<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loans</title>
</head>
<body>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">LOGOUT</a>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Monto</th>
                <th>Aprobado</th>
            </tr>
            {% for loan in loans %}
                <tr>
                    <td>{{loan.nombre}}</td>
                    <td>{{loan.apellido}}</td>
                    <td>{{loan.monto}}</td>
                    <td>{{loan.aprobado}}</td>
                    <td><a href="{% url 'loans_edition' pk=loan.pk %}">Editar</a></td>
                    <td><a href="{%url 'delete_item' pk=loan.pk %}">Borrar</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h1>Forbidden</h1>
    {% endif %}
</body>
</html>