{% extends 'loansadministration/base.html' %}

{% block content %}
    <div>
        <h2>
            Loan Application
        </h2>
        <form method="POST" id='form'>{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Submit</button>
            {% if messages %}
                {% for message in messages %}
                        <div class="alert alert-info">{{message}}</div>
                {% endfor %}  
            {% endif %}
        </form>
{% endblock %}
